parameters:
	ignoreErrors:
		-
			message: '#^Trait App\\Concerns\\Data\\DataObjects\\DataObjectMaker is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Concerns/Data/DataObjects/DataObjectMaker.php

		-
			message: '#^Access to property \$email on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Access to property \$id on an unknown class App\\Models\\User\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php
